In [96]:
from IPython.core.display_functions import warnings
import numpy as np
import pandas as pd
warnings.simplefilter('ignore')

In [97]:
trash = pd.read_excel("trash_can.xlsx")

In [98]:
trash.head()

   index 자치구명   도로명       세부위치     설치 지점     종류
0      1  종로구   사직로  경복궁역 4번출구   지하철역 입구  일반쓰레기
1      2  종로구   사직로  경복궁역 4번출구   지하철역 입구    재활용
2      3  종로구  자하문로    자하문로 28   도로(가로)변  일반쓰레기
3      4  종로구  자하문로    자하문로 28   도로(가로)변    재활용
4      5  종로구  자하문로    자하문로 44   도로(가로)변  일반쓰레기

In [99]:
trash.columns

Index(['index', '자치구명', '도로명', '세부위치', '설치 지점', '종류'], dtype='object')

In [100]:
trash.columns=['index','borough','road_name','location','point','category']

In [101]:
trash.isnull().sum()

index          0
borough        0
road_name    232
location       0
point         32
category       0
dtype: int64

In [102]:
trash['road_name']=trash['road_name'].fillna('none')

In [103]:
trash['point']=trash['point'].fillna('none')

In [104]:
trash.isnull().sum()

index        0
borough      0
road_name    0
location     0
point        0
category     0
dtype: int64

In [106]:
trash

,index,borough,road_name,location,point,category,count
0,1,종로구,사직로,경복궁역 4번출구,지하철역 입구,일반쓰레기,1
1,2,종로구,사직로,경복궁역 4번출구,지하철역 입구,재활용,1
2,3,종로구,자하문로,자하문로 28,도로(가로)변,일반쓰레기,1
3,4,종로구,자하문로,자하문로 28,도로(가로)변,재활용,1
4,5,종로구,자하문로,자하문로 44,도로(가로)변,일반쓰레기,1
...,...,...,...,...,...,...,...
5370,5371,도봉구,해등로,해등로3길 41,삼환빌라 앞 횡단보도,⑥ 횡단보도 입구,1
5371,5372,도봉구,해등로,해등로 103,창원초등학교 앞 횡단보도,⑥ 횡단보도 입구,1
5372,5373,도봉구,도봉산길,도봉산길 27,도봉고등학교 건너편 횡단보도,⑥ 횡단보도 입구,1
5373,5374,도봉구,도봉로,도봉동 620-23,신도봉사거리 도봉중학교방향 횡단보도,⑥ 횡단보도 입구,1
5374,5375,도봉구,해등로,해등로 32,창1동 서울가든아파트 버스정류장,"① 정류장(버스, 택시 등)",1

In [107]:
trash.head()
list(set(trash['category']))

['① 일반쓰레기',
 '담배꽁초, 음료컵',
 '일반+담배꽁초',
 '① 일반쓰레기 수거용',
 '① 정류장(버스 등)',
 '광장, 공원 등 다중집합장소',
 '항아리형',
 '재활용수거용',
 '재활용수거 ',
 ' 재활용쓰레기',
 '② 지하철역 입구',
 '일반쓰레기수거용',
 '⑥ 횡단보도 입구',
 '기타',
 ' 일반쓰레기',
 '① 정류장(버스, 택시 등)',
 '재활용',
 '② 재활용품 수거용',
 '재활용쓰레기',
 '② 재활용쓰레기',
 '재활용 수거용',
 '일반쓰레기 수거용',
 '일반+담배꽁초 ',
 '담배꽁초',
 '일반쓰레기']

In [108]:
trash['category']=trash['category'].replace('② 재활용품 수거용','재활용쓰레기')
trash['category']=trash['category'].replace('재활용수거 ','재활용쓰레기')
trash['category']=trash['category'].replace(' 재활용쓰레기','재활용쓰레기')
trash['category']=trash['category'].replace('재활용','재활용쓰레기')
trash['category']=trash['category'].replace('② 재활용쓰레기','재활용쓰레기')
trash['category']=trash['category'].replace('재활용 수거용','재활용쓰레기')
trash['category']=trash['category'].replace('재활용수거용','재활용쓰레기')

In [109]:
list(set(trash['category']))

['재활용쓰레기',
 '① 일반쓰레기',
 '담배꽁초, 음료컵',
 '⑥ 횡단보도 입구',
 '② 지하철역 입구',
 '기타',
 '일반+담배꽁초',
 ' 일반쓰레기',
 '① 일반쓰레기 수거용',
 '일반쓰레기 수거용',
 '① 정류장(버스 등)',
 '일반쓰레기수거용',
 '광장, 공원 등 다중집합장소',
 '항아리형',
 '① 정류장(버스, 택시 등)',
 '일반+담배꽁초 ',
 '담배꽁초',
 '일반쓰레기']

In [110]:
trash['category']=trash['category'].replace('① 정류장(버스 등)','일반쓰레기')
trash['category']=trash['category'].replace('① 정류장(버스, 택시 등)','일반쓰레기')
trash['category']=trash['category'].replace('② 지하철역 입구','재활용쓰레기')
trash['category']=trash['category'].replace('⑥ 횡단보도 입구','재활용쓰레기')
trash['category']=trash['category'].replace('광장, 공원 등 다중집합장소','재활용쓰레기')
trash['category']=trash['category'].replace('기타','담배꽁초')

In [111]:
list(set(trash['category']))

['재활용쓰레기',
 '① 일반쓰레기',
 '담배꽁초, 음료컵',
 ' 일반쓰레기',
 '일반+담배꽁초',
 '① 일반쓰레기 수거용',
 '일반쓰레기 수거용',
 '일반쓰레기수거용',
 '항아리형',
 '일반+담배꽁초 ',
 '담배꽁초',
 '일반쓰레기']

In [112]:
trash['category']=trash['category'].replace('① 일반쓰레기','일반쓰레기')
trash['category']=trash['category'].replace('① 일반쓰레기 수거용','일반쓰레기')
trash['category']=trash['category'].replace('일반쓰레기수거용','일반쓰레기')
trash['category']=trash['category'].replace('일반쓰레기 수거용','일반쓰레기')
trash['category']=trash['category'].replace(' 일반쓰레기','일반쓰레기')

In [113]:
list(set(trash['category']))

['재활용쓰레기', '담배꽁초, 음료컵', '일반+담배꽁초', '항아리형', '일반+담배꽁초 ', '담배꽁초', '일반쓰레기']

In [114]:
trash['category']=trash['category'].replace('일반+담배꽁초 ','일반+담배꽁초')
trash['category']=trash['category'].replace('담배꽁초, 음료컵','담배꽁초')
list(set(trash['category']))

['재활용쓰레기', '일반+담배꽁초', '항아리형', '담배꽁초', '일반쓰레기']

In [115]:

trash.groupby(['borough','category'])

In [116]:
trash.borough.replace("강서", "강서구", inplace=True)

In [117]:
list(set(trash['borough']))

['서대문구',
 '성북구',
 '광진구',
 '동대문구',
 '송파구',
 '강서구',
 '강남구',
 '금천구',
 '양천구',
 '성동구',
 '용산구',
 '종로구',
 '중구',
 '구로구',
 '마포구',
 '강동구',
 '동작구',
 '노원구',
 '도봉구',
 '중랑구',
 '관악구',
 '은평구',
 '강북구',
 '서초구',
 '영등포구']

In [120]:
trash.to_excel('new_trash.xlsx')